.container {
    max-width: 1200px;
    margin: 0 auto;
}

.banner,
footer {
    background-color: #D01919;
}

header {
    background-color: black;
    background: url(image/fitness-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.coaches {
    background-color: #EFEFEF;
    padding: 2em 0;
}

.content .container,
.coaches .container {
    display: flex;
    gap: 2em;
    
}

.content .container article,
.coaches .container article {
    flex: 1, 1, 30%;
    text-align: center;
}

.content .header, 
.coaches .header {
    text-align: center;
    margin-bottom: 2em;
}

.content .header span, 
.coaches .header span{
    width: 5ch;
    height: 2px;
    display: block;
    margin: 1em auto;
    background: #D01919;
}

.content .media, 
.coaches .media {
    margin-bottom: 1 em;
}

media img {
    width: 15%;
    margin: 0 auto;
}