* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    max-width: 45em;
    margin: 2em auto;
}

header {
    border-bottom: 2px solid #ccc;
    position: relative;
    padding:  1em 0;
    margin-bottom: 2em;
}

header p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.2em;
}

nav {
    position: absolute;
    bottom: 30%;
    right: 0;
    transform: translateX(-150%);
}

nav li{
    display: inline-block;
    list-style: none;
    color:rgb(76, 235, 105);
    margin: 0.2em;

}

nav a {
    display:block;
    padding: 0.5em 0.7em;
    
}

p {
    margin: 1.5em auto; 
}

h1 {
    font-weight: lighter;
    font-size: 1.5em;
}

