@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 "PT Sans", sans-serif;
}

body {
    padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Serif";
}

img {
    width: 100%;
    ;
    height: auto;
}

header {
    background-image: url("images/background.jpg");
    background-size: cover;
    padding-bottom: 14em;

}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header .top {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header .logo {
    width: 120px;
    height: auto;
}

header .logo a {
    display: block;
    overflow: hidden;
}

header nav ul {
    display: flex;

}

header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

header nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .heading {
    font-size: 3.4em;
    color: white;
    font-weight: normal;
    line-height: 1.26;
    padding-bottom: 0.5em;
}

header p {
    color: white;
    max-width: 39rem;
    font-size: 1.2em;
}

main {
    padding-top: 10em;
}

main .content {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 4em;
    border-bottom: 1px;
}

main article h2 {
    font-size: 3.2em;
    font-weight: normal;
    padding-bottom: 0.3em;
}

main article p {
    padding-bottom: 3em;
    line-height: 1.7;
}

main article a {
    text-decoration: none;
    color: #B0825C;
    font-weight: bold;
    border: 3px solid #B0825C;
    padding: 0.5em 1.2em;
}

main .content-flex {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 4.5em;
}

main .sponsors-partners {
    padding: 3em 0;
}

main .sponsors-partners .features {
    text-align: center;
}

main .sponsors-partners .features h2 {
    font-size: 3.2em;
    font-weight: normal;
    padding-bottom: 0.3em;
    color: #B0825C;
}

main .media {
    padding: 4em 0 3em;
    display: flex;
    justify-content: center;
    gap: 4em
}

main .media-img {
    width: 190px;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #DDDDDD;
    border-radius: 50%;
    overflow: hidden;

}

main .media img {
    padding: 1.5em;
}


footer {
    background-color: #171720;
   color: white;  
}

footer .footer-content {
    padding-top: 3em;
    border-bottom: 1px solid #CCCCCC;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
    
}

.footer-flex .column-container {
    flex: 0 0 50%;
    display: flex;
    gap: 2em;
}

.footer-flex .column h4{
    font-size: 1.4em;
    font-weight: normal;
    padding-bottom: 1.5em;
    
}



.footer-flex .column ul {
    display: block;
}

.footer-flex .column li {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #B3A6A8;
    padding-bottom: 1.3em;
}

footer .footer {
    padding: 1em 0;
}

footer .footer p {
    font-size: 0.7em;
    color: #CCCCCC;
}