@import url(reset.css);

@import url(typography.css);

body {
    border: 2px solid black;
    font: 14px/1.2 Verdana, serif;
    padding: 0.5em;
}

section,
header,
footer {
    font: inherit;
}

hr {
    width: 5em;
    align-self: center;
    color: #000;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
}

h1 {
    color: purple;
}

input {
    height: 2.5em;
    width: 15em;
}

nav ul {
    display: flex;
    gap: 1.5em;

}

nav li {
    display: block;
    flex-direction: column;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #000;
}


.container {
    max-width: 60em;
    margin: 0 auto;

}

.heading h2,
p {
    padding-bottom: 1em;
}

.heading.container {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.heading div:nth-child(1) {
    width: 68%;
}

.heading div:nth-child(2) {
    width: 20%;
}

.heading a {
    display: inline-block;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
}


.heading svg {
    display: block;
    width: 7em;
}

.header {
    margin: 2em 0;
    text-align: center;
}

.team {

    display: flex;
    flex-wrap: wrap;

    gap: 3em;
}

.container .team {
    padding: 2em;
}

.card {
    flex: 1 1 25%;
    display: block;
    text-align: center;
}

.picture {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0.5em auto;

}

.picture img {
    display: block;
    width: 100%;
    height: auto;
}

.signUp {
    background-color: rgb(100, 21, 100);
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.signUp div {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.signUp h2 {
    text-align: center;
    padding-top: 0.5em;
    color: #fff;
}

.signUp form {
    margin-bottom: 2em;

}

.signUp button {
    padding: 0.5em 1.2em;
}



div.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}

.card2 {
    flex: 1 1 25%;
    display: block;
    text-align: center;
}

.card2 p:nth-child(2) {
    font-style: italic;
}

.card2 p:nth-child(3) {
    font-weight: bold;
}

footer {
    margin-top: 7em;
    padding-top: 3em;
    border-top: 5px solid #ccc;
}

.footer {
    display: flex;
    gap: 3em;

}

.siteMap,
.contacts,
.aboutUs {
    flex: 1 1 25%;
}

.siteMap {
    display: flex;
    flex-direction: column;

}

.siteMap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 3em;


}

.siteMap li {
    display: inline-block;
  

}

.siteMap a {
    text-decoration: none;
    color: #000;
}

footer h2,
h3 {
    padding-bottom: 1em;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1em;
}

.contacts svg {
    width: 1em;
}